<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battery.mapper.AdminMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.battery.entity.Admin">
		<id column="admin_id" property="adminId" />
		<result column="admin_name" property="adminName" />
		<result column="admin_password" property="adminPassword" />
		<result column="effective" property="effective" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id AS adminId, admin_name AS adminName, admin_password AS adminPassword, effective, gmt_create AS gmtCreate, gmt_modified AS gmtModified
    </sql>

</mapper>
